 # Kepler Telescope Exoplanet Catalog

The following excersise has different kind of data

In [1]:
exo_data = [['Name',
  'Distance (LY)',
  'Orbital Period (Days)',
  'Number of Moons',
  'Habitable Zone',
  'Potential for Liquid Water'],
 ['Kepler-186f', '512', '136', '1', 'True', 'High'],
 ['TRAPPIST-1d', '40', '4.05', '0', 'True', 'High'],
 ['Gliese 581 g', '20', '37', '0', 'False', 'Possible'],
 ['LHS 1140b', '40.5', '38.1', '0', 'False', 'Possible'],
 ['KOI-3140b', '178', '4.5', '0', 'False', 'Low'],
 ['Kepler-1708b', '5600', '131', '2', 'False', 'None'],
 ['Kepler-452b', '1400', '385', '0', 'False', 'Likely'],
 ['Kepler-10b', '186', '0.8', '0', 'False', 'None'],
 ['HD 132563 b', '218', '259.4', '1', 'False', 'Possible'],
 ['Kepler-442b', '1120', '112', '0', 'False', 'Possible']]

In [2]:
exo_data

[['Name',
  'Distance (LY)',
  'Orbital Period (Days)',
  'Number of Moons',
  'Habitable Zone',
  'Potential for Liquid Water'],
 ['Kepler-186f', '512', '136', '1', 'True', 'High'],
 ['TRAPPIST-1d', '40', '4.05', '0', 'True', 'High'],
 ['Gliese 581 g', '20', '37', '0', 'False', 'Possible'],
 ['LHS 1140b', '40.5', '38.1', '0', 'False', 'Possible'],
 ['KOI-3140b', '178', '4.5', '0', 'False', 'Low'],
 ['Kepler-1708b', '5600', '131', '2', 'False', 'None'],
 ['Kepler-452b', '1400', '385', '0', 'False', 'Likely'],
 ['Kepler-10b', '186', '0.8', '0', 'False', 'None'],
 ['HD 132563 b', '218', '259.4', '1', 'False', 'Possible'],
 ['Kepler-442b', '1120', '112', '0', 'False', 'Possible']]

### Recognizing and Converting Count Data to Integer Data Type
number of moons Column[3]

In [3]:
# loop over words. keep track of index so we can skip the first row
# ix is the index
# row is the index in the sublist
for ix , row in enumerate(exo_data):
    if ix > 0: # this skips the header line, otherwise Invalid
        row[3] = int(row[3]) # perform int conversion of the string only in row[3]

In [4]:
# The column [3] was converted to integer
type(exo_data[6][3])

int

### Recognizing Ordinal Categoricals and Encoding as Integers
Potential for liquid water

In [5]:
# Enumarate() function example enumerate(iterable, start=0)
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [6]:
list(enumerate(seasons, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [7]:
lqwater = []
for i, elem in enumerate(exo_data):
    if i > 0: # In this case, it's not invalid but we are not intersted in the name of the column
        lqwater.append(elem[5]) # Potential water is the the column[5]

lqwater

['High',
 'High',
 'Possible',
 'Possible',
 'Low',
 'None',
 'Likely',
 'None',
 'Possible',
 'Possible']

#### We are Data Science, se we need to imply number based on the nature of the data
#### None < Low < Possible < Likely < High --> 0 < 1 < 2 < 3 < 4

In [8]:
# Create a dictionary
value_mapper = {'None': 0, 'Low': 1, 'Possible': 2, 'Likely': 3, 'High': 4}
for i, row in enumerate(exo_data):
    if i > 0:
        row[5] = value_mapper[row[5]] # get the integer value corresponding to the ordinal categorical and reassign entry

In [9]:
# Column [5] was replaced with the equivalen numeric value assigned
exo_data

[['Name',
  'Distance (LY)',
  'Orbital Period (Days)',
  'Number of Moons',
  'Habitable Zone',
  'Potential for Liquid Water'],
 ['Kepler-186f', '512', '136', 1, 'True', 4],
 ['TRAPPIST-1d', '40', '4.05', 0, 'True', 4],
 ['Gliese 581 g', '20', '37', 0, 'False', 2],
 ['LHS 1140b', '40.5', '38.1', 0, 'False', 2],
 ['KOI-3140b', '178', '4.5', 0, 'False', 1],
 ['Kepler-1708b', '5600', '131', 2, 'False', 0],
 ['Kepler-452b', '1400', '385', 0, 'False', 3],
 ['Kepler-10b', '186', '0.8', 0, 'False', 0],
 ['HD 132563 b', '218', '259.4', 1, 'False', 2],
 ['Kepler-442b', '1120', '112', 0, 'False', 2]]